<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title data-th-text="#{label.title}"></title>
</head>
<body>
<h1 data-th-text="#{label.greeting}"></h1>
<h2 data-th-text="#{label.title}"></h2>
<p data-th-text="#{label.chooseLang}"></p>
<div>
        <span>
            <a href="/index?lang=en" data-th-text="#{label.lang.en}"></a>&nbsp;&nbsp;&nbsp;
            <a href="/index?lang=de" data-th-text="#{label.lang.de}"></a>&nbsp;&nbsp;&nbsp;
            <a href="/index?lang=ar" data-th-text="#{label.lang.ar}"></a>
        </span>

</div>
<br/><br/>
<table style="border: solid">
    <tr>
        <th data-th-text="#{label.product.name}"></th>
        <th data-th-text="#{label.product.price}"></th>
        <th data-th-text="#{label.product.lastUpdated}"></th>
    </tr>
    <tr th:each="product: ${products}">
        <td data-th-text="#{__${product.name}__}"></td>
        <td data-th-text="${product.price}" />
        <td data-th-text="${product.lastUpdated}" />
    </tr>
</table>
</body>
</html>